<h1>Continue Your Payment</h1>
<p>Thank you for choosing IG Tracker to manage your Instagram followers and followings!</p>
<p>You've selected the <strong><%= plan.name %> Plan</strong>.</p>
<p>
  Price: <%= plan.displayPrice %><br />
  Validity: <%= plan.period %>
</p>
<p>To complete your upgrade and unlock the full potential of IG Tracker, click the button below:</p>
<a href="<%= payUrl %>" class="btn">Continue to Payment</a>
<p>
  If you have any questions or need assistance, please contact our support at
  <a href="<%= baseUrl %>">ig-tracker.cbu.net</a>
</p>
